.bug {
    background: #C6D16E;
  }
  
  .bug:hover {
      background: #A8B820;
      box-shadow: 0 2px 4px #000000;
  }
  
  .dark {
    background: #a29288;
  }
  
  .dark:hover {
      background: #705848; 
  }
  
  .dragon {
    background: #a27dfa;
  }
  
  .dragon:hover {
      background: #7038F8;
  }
  
  .electric {
    background: #fae078;
  }
  
  .electric:hover {
      background: #F8D030;
  }
  
  .fairy {
      background: #F4BDC9;
  }
  
  .fairy:hover {
      background: #EE99AC;
  }
  
  .fighting {
    background: #d67873;
  }
  
  .fighting:hover {
      background: #C03028;
  }
  
  .fire {
    background: #f5ac78;
  }
  
  .fire:hover {
      background: #F08030;
  }
  
  .flying {
      background: #C6B7F5;
  }
  
  .flying:hover {
      background: #A890F0;
  }
  
  .grass {
    background: #a7db8d;
  }
  
  .grass:hover {
      background: #78C850;
  }
  
  .ice {
      background: #BCE6E6;
  }
  
  .ice:hover {
      background: #98D8D8;
  }
  
  .ghost {
      background: #A292BC;
  }
  
  .ghost:hover {
      background: #705898;
  }
  
  .ground {
    background: #ebd69d;
  }
  
  .ground:hover {
      background: #E0C068;
  }
  
  .normal {
    background: #c6c6a7;
  }
  
  .normal:hover {
      background: #A8A878;
  }
  
  .poison {
      background: #C183C1; 
  }
  
  .poison:hover {
      background: #A040A0;
  }
  
  .psychic {
    background: #fa92b2;
  }
  
  .psychic:hover {
      background: #F85888;
  }
  
  .rock {
    background: #D1C17D;
  }
  
  .rock:hover {
      background: #B8A038;
  }
  
  .steel {
    background: #d1d1e0;
  }
  
  .steel:hover {
      background: #B8B8D0;
  }
  
  .water {
    background: #9db7f5;
  }
  
  .water:hover {
      background: #6890F0;
  }
  
  .bluetext {
    color: blue;
  }
  
  .redtext {
    color: red;
  }


  .hoverPick #tangela:after {
	background: url("https://cdn.bulbagarden.net/upload/4/45/114MS.png");
}

.hoverPick #rattata:after {
	background: url("https://cdn.bulbagarden.net/upload/4/4d/019MS.png");
}

.hoverPick #slugma:after {
	background: url("https://cdn.bulbagarden.net/upload/d/dc/218MS.png");
}

.hoverPick #buizel:after {
	background: url("https://cdn.bulbagarden.net/upload/7/7c/418MS.png");
}

.hoverPick #bagon:after {
	background: url("https://cdn.bulbagarden.net/upload/f/fe/371MS.png");
}

.hoverPick #pachirisu:after {
	background: url("https://cdn.bulbagarden.net/upload/1/14/417MS.png");
}

.hoverPick #drilbur:after {
	background: url("https://cdn.bulbagarden.net/upload/0/0a/529MS.png");
}

.hoverPick #klink:after {
	background: url("https://cdn.bulbagarden.net/upload/6/61/599MS.png");
}

.hoverPick #poochyena:after {
	background: url("https://cdn.bulbagarden.net/upload/5/5c/261MS.png");
}

.hoverPick #makuhita:after {
	background: url("https://cdn.bulbagarden.net/upload/7/7e/296MS.png");
}

.hoverPick #roggenrola:after {
	background: url("https://cdn.bulbagarden.net/upload/6/62/524MS.png");
}

.hoverPick #snorunt:after {
	background: url("https://cdn.bulbagarden.net/upload/6/66/361MS.png");
}

.hoverPick #snubbull:after {
	background: url("https://cdn.bulbagarden.net/upload/6/6c/209MS.png");
}

.hoverPick #skorupi:after {
	background: url("https://cdn.bulbagarden.net/upload/0/02/451MS.png");
}

.hoverPick #solosis:after {
	background: url("https://cdn.bulbagarden.net/upload/7/7e/577MS.png");
}

.hoverPick #grimer:after {
	background: url("https://cdn.bulbagarden.net/upload/5/50/088MS.png");
}

.hoverPick #misdreavus:after {
	background: url("https://cdn.bulbagarden.net/upload/8/89/200MS.png");
}

.hoverPick #togetic:after {
	background: url("https://cdn.bulbagarden.net/upload/8/82/176MS.png");
}